<footer class="footer  fixed-bottom">
	<div class="container ">
		<div class="row ">
			<div class="col-md-12  text-center">
				<!--<h3 >P2P Lending within Banks</h3>-->
				<!--<h4 >Platform where people can invest and borrow money through a trusted medium</h4>				-->
				<p class="social-icons-header" style="color: white;">
               <a href="facebook.com"><span style="color: yellow;"><i class="fa fa-facebook fa-cog fa-fw"></i></span></a>
					 		<a href="facebook.com"><span style="color: yellow;"><i class="fa fa-twitter fa-cog fa-fw"></i></span></a>
					 		<a href="facebook.com"><span style="color: yellow;"><i class="fa fa-instagram fa-cog fa-fw"></i></span></a>
					 		<a href="facebook.com"><span style="color: yellow;"><i class="fa fa-linkedin fa-cog fa-fw"></i></span></a>	
					 </p>
			</div>
			<div class="col-md-12 text-center ">
				<h6 style="color: yellow;">Designed with ❤ by <a href="rony.mathew@finastra.com" style="color: yellow;">Finastra</a> </h6>
			</div>
		</div>
	</div>
</footer>