<app-nav-admin></app-nav-admin>
<app-header-boarder></app-header-boarder>
<!--<app-left-menu></app-left-menu>-->
<section id="about">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-primary">
            <tr>
              <th>ACCOUNT</th>
              <th>DATE</th>
              <th>AMOUNT</th>
              <th>PENDING BALANCE</th>
              <th>INTEREST</th>
              <th>MATURITY DATE</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tr *ngFor="let history of (lendAccountHistory | async)">
            <td>{{history.account}}</td>
            <td>{{history.transaction_date | date}}</td>
            <td>{{history.amount | currency}}</td>
            <td>{{history.balance | currency}}</td>
            <td>{{history.interest | currency}}</td>
            <td>{{history.maturity_date | date}}</td>
            <td>{{history.status}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>