<app-nav-admin></app-nav-admin>
<app-header-boarder></app-header-boarder>
<section id="team" class="pb-5">
  <div class="container">

    <div class="row " >
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title">View All Users</h4>
            <p class="card-text">Admin can view all the users within the application</p>
            <button type="button" routerLink="/admin/users" class="btn btn-sm btn-outline-primary">View users</button>
          </div>
        </div>
      </div>
      <!-- ./Team member -->


      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">

            <h4 class="card-title">View Loan Aplications</h4>
            <p class="card-text">Here you can view all the loan applications submitted by users</p>
            <button type="button" routerLink="/admin/loans" class="btn btn-sm btn-outline-primary">View applications</button>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">

            <h4 class="card-title">View investmetnt History</h4>
            <p class="card-text">Here admin can view all the investment transactions by lenders</p>
            <button type="button" routerLink="/admin/investments" class="btn btn-sm btn-outline-primary">View investments</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">

            <h4 class="card-title">View user profile</h4>
            <p class="card-text">Here admin can view and make changes to the user profile</p>
            <button type="button" routerLink="/admin/user-profile" class="btn btn-sm btn-outline-primary" disabled>User profile</button>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">

            <h4 class="card-title">User category settings</h4>
            <p class="card-text">Here admin can view and make changes to the user category</p>
            <button type="button" routerLink="/admin/category" class="btn btn-sm btn-outline-primary">View user category</button>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4  pb-4">
        <div class="card">
          <div class="card-body text-center">

            <h4 class="card-title">Admin profile</h4>
            <p class="card-text">Here admin can view and make changes to his own profile</p>
            <button type="button" routerLink="/admin/users" class="btn btn-sm btn-outline-primary" disabled>View users</button>
          </div>
        </div>
      </div>

      <!-- ./Team member -->

    </div>
  </div>
</section>
<div style="padding-top:50px"></div>
<app-footer></app-footer>