header {

  padding-top: 75px;
  padding-bottom: 30px;
}
.orange-header{
    background-color:grey ;
}

/*@media (min-width: 992px) {
  header {
    padding: 120px 0 100px;
  }
}*/

section {
  padding: 150px 0;
}
 .footer-bottom{
    background: #343a40!important;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important;
}

.finastratheme{

  background: -webkit-gradient(linear,left top,right top,from(#694ed6),color-stop(43.31%,#c137a2),color-stop(74.03%,#f05055),to(#e3241c));
  background: linear-gradient(90deg,#694ed6 0,#c137a2 43.31%,#f05055 74.03%,#e3241c 100%);
  
}